<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hnust.dao.SysinfoDao" >
  <resultMap id="BaseResultMap" type="com.cn.hnust.pojo.Sysinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="systominfo" property="systominfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, systominfo
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sysinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sysinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.hnust.pojo.Sysinfo" >
    insert into sysinfo (id, systominfo)
    values (#{id,jdbcType=INTEGER}, #{systominfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.hnust.pojo.Sysinfo" >
    insert into sysinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="systominfo != null" >
        systominfo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="systominfo != null" >
        #{systominfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.hnust.pojo.Sysinfo" >
    update sysinfo
    <set >
      <if test="systominfo != null" >
        systominfo = #{systominfo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.hnust.pojo.Sysinfo" >
    update sysinfo
    set systominfo = #{systominfo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- ==============以下内容是根据自身业务扩展的内容======================= -->
   
   <select id="getAllSysinfo" resultMap="BaseResultMap">
       select id, systominfo from sysinfo
   </select>
</mapper>